<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link rel="icon" href="/images/tabicon.png"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- 메인 css -->
    <link href="/css/main.css" rel="stylesheet"/>
    <link href="/css/index-teacher-info-modal.css" rel="stylesheet"/>

    <!-- Plugin -->
    <link rel="stylesheet"
          href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"/>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

    <!-- TODO 발표 위해 추가 -->
    <!-- jQuery CDN-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/teacher-change-button.js"></script>
    <!-- 선생님 정보 입력 -->
    <script defer="defer" src="js/index-teacher-info-modal.js"></script>
    
    <title>능력있는 선생님과 열정가득한 동료와 함께, 판다</title>
</head><!--/head-->

<body>
<header th:fragment="header" id="header">

	<!-- header css 부분 -->
	<th:block>
		<link href="/css/index-teacher-info-modal.css" rel="stylesheet"/>
	</th:block>
	
	<!-- header 스크립트 부분 -->
	<th:block>
		<script defer="defer" src="/js/index-teacher-info-modal.js"></script>
	</th:block>

    <!--header-->
    <div class="header_top"></div>

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"
                        ><img src="/images/home/logo2.png" alt=""
                        /></a>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="#pop_info">
                            <button
                                    type="button"
                                    class="btn btn-default change teacher_info_open"
                            >
                                선생님으로 전환하기
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="basic-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/mypage"><i class="fa fa-user"></i> 내 정보</a>
                            </li>
                            <li>
                                <a href="/myconcern-list"><i class="fa fa-star"></i> 관심 목록</a>
                            </li>
                            <li th:if="${session.LOGIN_MEMBER == null}">
                                <a href="/login"><i class="fa fa-lock"></i> 로그인</a>
                            </li>
                            <li th:unless="${session.LOGIN_MEMBER == null}">
                                <a href="/logout"><i class="fa fa-lock"></i> 로그아웃</a>
                            </li>
                            <li>
                                <a href="/signup" class="register"> 회원가입</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button
                                type="button"
                                class="navbar-toggle"
                                data-toggle="collapse"
                                data-target=".navbar-collapse"
                        >
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/recruitment" class="active">수업 홍보</a></li>
                            <li class="dropdown">
                                <a href="#">커뮤니티<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="shop.html">자유 게시판</a></li>
                                    <li><a href="product-details.html"></a></li>
                                    <li><a href="login.html">Login</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="notice">공지사항</a>
                            </li>
                            <li><a href="ask">문의하기</a></li>
                            <li><a href="contact-us.html">포인트상점</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="검색어를 입력해주세요."/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-bottom-->
    
    <!-- 선생님 전환 모달창 시작 -->

    <div id="pop_info" class="pop_wrap" style="display: none">
        <form
                method="post"
                action="#"
                class="pop_inner"
                style="margin: 0"
                enctype="multipart/form-data"
                onsubmit="return false;"
        >
            <fieldset class="info-detail">
                <legend class="info-title">선생님 정보 입력</legend>

                <!-- 분야 시작 -->

                <div class="form-group">
                    <label for="classCategory" class="form-label">수업종류</label>

                    <!-- 시도 코드 -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="categoryMainIdBox">
                                <span>대분류</span>
                                <select
                                        class="form-select form-control"
                                        id="categoryMainId"
                                        name="categoryMainId"
                                >
                                    <option value="">선택</option>
                                   	<th:block th:each="category : ${categoryMainList}">
                                        <option th:value="${category.Category_main_id}"
                                                th:text="${category.Category_main_name}">학업
                                        </option>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="categorySubIdBox">
                                <!-- 시군구 코드 -->
                                <span>소분류</span>
                                <select
                                        class="form-select form-control"
                                        id="categorySubId"
                                        name="categorySubId"
                                >
                                    <option value="">선택</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 분야 끝-->

                <!-- 소개글 시작 -->
                <div class="form-group">
                    <label for="comment" class="form-label">소개글</label>
                    <textarea
                            id="comment"
                            name="comment"
                            class="info-comment"
                            placeholder="선생님을 소개해주세요~"
                            tabindex="1"
                    ></textarea>
                </div>

                <!-- 소개글 끝 -->
            </fieldset>

            <!-- 첨부파일 제출 시작 -->
            <div class="insert form-group">
                <label for="info-file" class="form-label">
                    증명서류첨부
                    <img alt="첨부파일추가" src="/images/home/plus-square.svg"/>
                </label>
                <input
                        id="info-file"
                        name="files"
                        type="file"
                        onchange="addFile(this);"
                        multiple
                />
                <div class="file-list"></div>
            </div>
            <!-- 첨부파일 제출 끝 -->

            <!-- 댓글 버튼 박스 시작 -->
            <div class="register-btn form-group">
                <button type="submit" class="btn_enter" tabindex="5" onclick="submitForm();">등록</button>
                <button type="button" class="teacher_info_close">닫기</button>
            </div>
            <!-- 댓글 버튼 박스 끝 -->
        </form>
    </div>

    <!-- 선생님 전환 모달창 끝 -->
</header>
</body>
</html>