@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap);

/* main */
#main {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
}

.contentTitle {
  text-align: left;
}

/* form */

/* div 간격 맞추기 주석처리*/
/* form .formLine {
  padding: 1.5rem;
} */

form .buttonBox {
  text-align: right;
  padding: 1rem 0;
}

form .buttonBox button {
  /* font-size: 2.5rem; */
  font-size: 15px;
  background-color: #0d2237 !important;
  border-radius: 10px !important;
}
