.location {
    margin-bottom: 5%;
}

.home {
    margin-left: 85%;
}

.input-group {
    justify-content: center;
    height: 45px;
}

.titleWrap {
}

.thumb {
    width: 100%;
    margin-left: 4%;
    display: table;
    font-size: 15px;
}

.thumbtitle {
    font-weight: bolder;
    font-size: 15pt;
    margin-left: 9px;
    margin-bottom: 10px;
}

.name {
    display: table-cell;
    float: left;
    margin-top: 11px;
}

.user-type {
    margin-top: 6%;
    margin-left: 10%;
}

.email {
    margin-top: 3px;
}

.gender {
    margin-top: 7px;
}

.accset {
    display: table-cell;
    float: right;
    margin-left: 365px;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 6px;
}

.profile {
    width: 120px;
    height: 130px;
    float: left;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.badge {
    background-color: white;
    float: right;
    margin-right: 10px;
}

.medal {
    width: 18px;
    height: 18px;
}

.leftMenuTitle {
  padding-bottom: 7%;
  border-bottom: 3px solid #2074d9;
}

.container {
    visibility: visible;
}

.leftMenu {
    float: left;
    list-style-position: inside;
}

.menuList li {
    margin: 30px 0px;
    font-size: 15px;
    padding-bottom: 3%;
}

.sub {
    width: 850px;
    margin-left: 150px;
}

.middle {
    float: left;
    width: 85%;
}

.use {
    padding-bottom: 2%;
    border-bottom: 1px solid gray;
    font-size: 15pt;
}

.PointList li {
    margin: 20px;
    font-size: 15px;
}

.point {
    font-size: 10pt;
    margin-left: 82%;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.introduction {
    width: 95%;
    margin-left: 1%;
    font-size: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.grade {
    font-size: 10pt;
    margin-left: 89%;
    padding: 10px;
    color: white;
    background-color: #ffb703;
    /* border: 2px solid yellow; */
    border-radius: 10px;
}

body {
    font-family: "Noto Sans KR", sans-serif !important;
}
