<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main-layout}">
<head>
    <link rel="icon" href="images/tabicon.png"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>능력있는 선생님과 열정가득한 동료와 함께, 판다</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>

    <!-- 메인 css -->
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/index-teacher-info-modal.css" rel="stylesheet"/>

    <!-- Plugin -->
    <link
            rel="stylesheet"
            href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css"
    />
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

    <!-- TODO 발표 위해 추가 -->
    <!-- jQuery CDN-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="js/teacher-change-button.js"></script>
</head
><!--/head-->

<body>
<!-- header -->
<div>
    <th:block th:replace="include/header :: header"></th:block>
</div>

<div layout:fragment="content">
    <!-- 슬라이드 시작 -->
    <div class="slideshow-container">
        <div class="mySlides">
            <img src="images/home/woojin2.png" alt="이미지 1"/>
        </div>

        <div class="mySlides">
            <img src="images/home/1.png" alt="이미지 2"/>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <!-- 슬라이드 끝 -->
    <div id="main-category section">
        <ul
                data-v-2658e474=""
                data-v-d1958d9a=""
                data-testid="main-category"
                class="main-category category-list container"
        >
            <li data-v-2658e474="" class="category-item">
                <a data-v-2658e474="" href="/recruitment" class="">
                    <div data-v-2658e474="" class="category-icon">
                        <div data-v-2658e474="" class="categiry-img-wrapper">
                            <img
                                    data-v-2658e474=""
                                    src="https://assets.cdn.soomgo.com/icons/category1/service_graduation_cap.svg"
                                    alt="학업"
                                    class="category-img"
                            />
                        </div>
                        <p data-v-2658e474="" class="category-title">학업</p>
                    </div>
                </a>
            </li>
            <li data-v-2658e474="" class="category-item">
                <a data-v-2658e474="" href="//recruitment" class="">
                    <div data-v-2658e474="" class="category-icon">
                        <div data-v-2658e474="" class="categiry-img-wrapper">
                            <img
                                    data-v-2658e474=""
                                    src="https://assets.cdn.soomgo.com/icons/category1/service_living_home.svg"
                                    alt="취미생활"
                                    class="category-img"
                            />
                        </div>
                        <p data-v-2658e474="" class="category-title">취미생활</p>
                    </div>
                </a>
            </li>
            <li data-v-2658e474="" class="category-item">
                <a data-v-2658e474="" href="/recruitment" class="">
                    <div data-v-2658e474="" class="category-icon">
                        <div data-v-2658e474="" class="categiry-img-wrapper">
                            <img
                                    data-v-2658e474=""
                                    src="https://assets.cdn.soomgo.com/icons/category1/service_event_calendar.svg"
                                    alt="음악"
                                    class="category-img"
                            />
                        </div>
                        <p data-v-2658e474="" class="category-title">음악</p>
                    </div>
                </a>
            </li>
            <li data-v-2658e474="" class="category-item">
                <a data-v-2658e474="" href="/recruitment" class="">
                    <div data-v-2658e474="" class="category-icon">
                        <div data-v-2658e474="" class="categiry-img-wrapper">
                            <img
                                    data-v-2658e474=""
                                    src="https://assets.cdn.soomgo.com/icons/category1/service_business_suit_case.svg"
                                    alt="외국어"
                                    class="category-img"
                            />
                        </div>
                        <p data-v-2658e474="" class="category-title">외국어</p>
                    </div>
                </a>
            </li>
            <li data-v-2658e474="" class="category-item">
                <a data-v-2658e474="" href="/recruitment" class="">
                    <div data-v-2658e474="" class="category-icon">
                        <div data-v-2658e474="" class="categiry-img-wrapper">
                            <img
                                    data-v-2658e474=""
                                    src="https://assets.cdn.soomgo.com/icons/category1/service_window_with_code.svg"
                                    alt="컴퓨터"
                                    class="category-img"
                            />
                        </div>
                        <p data-v-2658e474="" class="category-title">컴퓨터</p>
                    </div>
                </a>
            </li>
            <li data-v-2658e474="" class="category-item">
                <a data-v-2658e474="" href="/recruitment" class="">
                    <div data-v-2658e474="" class="category-icon">
                        <div data-v-2658e474="" class="categiry-img-wrapper">
                            <img
                                    data-v-2658e474=""
                                    src="https://assets.cdn.soomgo.com/icons/category1/service_heart_with_rate.svg"
                                    alt="스포츠"
                                    class="category-img"
                            />
                        </div>
                        <p data-v-2658e474="" class="category-title">스포츠</p>
                    </div>
                </a>
            </li>
            <li data-v-2658e474="" class="category-item">
                <a data-v-2658e474="" href="/recruitment" class="">
                    <div data-v-2658e474="" class="category-icon">
                        <div data-v-2658e474="" class="categiry-img-wrapper">
                            <img
                                    data-v-2658e474=""
                                    src="https://assets.cdn.soomgo.com/icons/category1/service_shirt_with_tie.svg"
                                    alt="취업"
                                    class="category-img"
                            />
                        </div>
                        <p data-v-2658e474="" class="category-title">취업</p>
                    </div>
                </a>
            </li>
            <li data-v-2658e474="" class="category-item">
                <a data-v-2658e474="" href="/recruitment" class="">
                    <div data-v-2658e474="" class="category-icon">
                        <div data-v-2658e474="" class="categiry-img-wrapper">
                            <img
                                    data-v-2658e474=""
                                    src="https://assets.cdn.soomgo.com/icons/category1/service_square_grid_2x2.svg"
                                    alt="기타"
                                    class="category-img"
                            />
                        </div>
                        <p data-v-2658e474="" class="category-title">기타</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <h2 class="title text-center">마감 임박 수업</h2>
                        <!-- 1-1 강의 연결 -->
                        <div class="col-sm-4" th:each="main:${MainDTO}">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img th:src="${main.profile_photo}" alt=""/>
                                        <h2 th:text="${main.title}"></h2>
                                        <p th:text="${main.nickname}"></p>
                                        <a th:href="@{/recruitment/detail/{id}(id=${main.recruitment_id})}" class="btn btn-default add-to-cart"
                                        ><i class="fa fa-hand-o-right" ></i>신청하기</a
                                        >
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li>
                                            <div class="class-user-count">
                                                <i class="fa fa-user"></i
                                                ><span class="current-user-count" th:text="${main.current_std_count}+'/'+${main.max_std_count}"></span> 명
                                            </div>
                                        </li>
                                        <li>
                                            <div class="class-user-pay">
                                                <a><i class="fa fa-money" th:text="'1인당 '+${main.pay}/${main.current_std_count}"></i>원</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <img src="images/home/logo2.png" alt=""/>
                            <p>판다를 만든 사람들입니다.</p>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="col-sm-2">
                            <div class="video-gallery text-center">
                                <a href="https://github.com/ghktn">
                                    <img src="images/footer/kimsuyong.jpeg" alt=""/>
                                </a>
                                <i class="fa fa-github"></i>
                                <p>김수용</p>
                                <h2></h2>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="video-gallery text-center">
                                <a href="https://github.com/coderwin">
                                    <img src="images/footer/leehojin.jpeg" alt=""/>
                                </a>
                                <i class="fa fa-github"></i>
                                <p>이호진</p>
                                <h2></h2>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="video-gallery text-center">
                                <a href="https://github.com/wjsdudqls98W">
                                    <img src="images/footer/jeounyoungbin.jpeg" alt=""/>
                                </a>
                                <i class="fa fa-github"></i>
                                <p>전영빈</p>
                                <h2></h2>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="video-gallery text-center">
                                <a href="https://github.com/ComNewbie">
                                    <img src="images/footer/sokyungmin.jpeg" alt=""/>
                                </a>
                                <i class="fa fa-github"></i>
                                <p>소경민</p>
                                <h2></h2>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="video-gallery text-center">
                                <a href="https://github.com/ooojin000">
                                    <img src="images/footer/kimwoojin.jpeg" alt=""/>
                                </a>
                                <i class="fa fa-github"></i>
                                <p>김우진</p>
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">
                        Copyright © 2023 panda Inc. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
